body {
    background-color: gray;
}

#app {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.joke-box{
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.joke-box .joke {
    max-width: 65vw;
    font-size: 2em;
    margin-bottom: 15px;
}

.btn {
    border: none;
    border-radius: 10px;
    background-color: aquamarine;
    font-size: 18px;
    padding: 15px;
}

.btn:hover {
    cursor: pointer;
}